---
const diamondClass = 'p-2 md:p-3  flex-center border-2';
---

<!-- # it's ok -->
<div class:list={[diamondClass, 'border-border/25 -rotate-45 relative']}>
  <div class:list={[diamondClass, 'border-border/50']}>
    <div class:list={[diamondClass, 'border-border/75']}>
      <div class="overflow-hidden border-2 border-border">
        <img
          src="/img/photo.png"
          class="w-28 h-28 rotate-45 scale-175 hover:scale-150 transition-all duration-300 ease-in-out"
        />
      </div>
    </div>
  </div>
</div>
