---

---

<footer class="flex-center flex-col gap-6 w-full h-min border-t border-border/25 py-10">
  <!-- name -->
  <h3 class="text-text-primary text-2xl font-light font-sacramento">
    <span class="text-primary"></span>Orlan<span class="text-primary">Code</span>
  </h3>

  <!-- message -->
  <p class="text-text-secondary text-lg font-light">Desarrollado con amor ❤️ y café ☕</p>

  <!-- buttons -->
  <div class="flex-center gap-8 mt-2">
    <!-- <ButtonDiamond>
            <Mail class="-rotate-45 w-5 h-5 text-primary" />
        </ButtonDiamond>
        <ButtonDiamond>
            <Github class="-rotate-45 w-5 h-5 text-primary" />
        </ButtonDiamond>
        <ButtonDiamond>
            <Linkedin class="-rotate-45 w-5 h-5 text-primary" />
        </ButtonDiamond> -->
  </div>
</footer>
