---
interface ButtonProps {
    href: string;
    variant: "primary" | "secondary";
    className?: string;
}

const { variant, href, className } = Astro.props as ButtonProps;
---

<!-- # it's ok -->
<a
    class:list={[
        className,
        "button relative",
        variant == "primary"
            ? "text-text-button-primary bg-button-primary hover:bg-button-primary-hover"
            : "text-text-primary hover:bg-button-secondary-hover/50",
    ]}
    href={href}
>
    <slot />
</a>
