---
import ButtonFilter from "../sections/projects/ButtonFilter.astro";
---

<div class="flex-center gap-6">
    <ButtonFilter text="TODOS" data="ALL" />
    <ButtonFilter text="Fullstack" data="FULLSTACK" />
    <ButtonFilter text="Frontend" data="FRONTEND" />
    <ButtonFilter text="Backend" data="BACKEND" />
    <ButtonFilter text="Diseño" data="DESIGN" />
</div>
